<div class="users-container">
    <ul class="users-group-a">
        <% @users_group_a.each do |user| %>
            <li class="user">
                <a class="user-photo-container" href="<%= new_mention_path(user.id) %>">
                    <img class="user-photo" src="<%= user_photo_path(user.photo_url) %>" />
                    <span class="hidden-info">
                        <span class="user-name"><%= user.name %></span>
                    </span>
                </a>
                <ul class="user-mentions-container">
                    <% user.mentions.each do |mention| %>
                        <li class="user-mention <%= mention.id == @latest_mention ? 'latest-mention' : '' %>">
                            <div class="tip" data-tip="<%= mention.comment %>">
                                <span class="type-icon fa fa-<%= mention.mention_type %>"></span>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </li>
        <% end %>
    </ul>

    <ul class="users-group-b">
        <% @users_group_b.each do |user| %>
            <li class="user">
                <ul class="user-mentions-container">
                    <% user.mentions.each do |mention| %>
                        <li class="user-mention <%= mention.id == @latest_mention ? 'latest-mention' : '' %>">
                            <div class="tip" data-tip="<%= mention.comment %>">
                                <span class="type-icon fa fa-<%= mention.mention_type %>"></span>
                            </div>
                        </li>
                    <% end %>
                </ul>
                <a class="user-photo-container" href="<%= new_mention_path(user.id) %>">
                    <img class="user-photo" src="<%= user_photo_path(user.photo_url) %>" />
                    <span class="hidden-info">
                        <span class="user-name"><%= user.name %></span>
                    </span>
                </a>
            </li>
        <% end %>
    </ul>
</div>



